

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
:root {
    scroll-behavior: smooth;
}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}
header {
    height: 15vh;
    
   
    height: 88px;
    object-fit: cover;
    width: 24%;
        
        
        
        background: url(img/header.jpg) no-repeat center top;
        background-size: cover;
    
    }
    #header {
        margin:auto;
        width:1200px;
        font-family:'Bona Nova', serif;
        height: 15vh;
    
    }


/* menu */

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
    position:fixed;
    top: 90px;
    right: 0;
    width: 95vw;
    height: 100%;

   }

   .icon {
    position:fixed;
    top: 95;
    right: 0;
    width: 15vw;
    height: 0%;
  }
   
   /* items del menu */
   
   #menu ul li {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
   }
   
   /* enlaces del menu */
   
   #menu ul a {
    display:block;
    color:rgb(0, 0, 0);
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
   font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#5b78a7;
   }

/* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }

main {
  background-image: linear-gradient(to top, #ffffff 0%, #ffa977 100%);
  
  font-family: 'Tourney', cursive;
  padding: 45px;
 
}


   .subtitulo{
    text-align: center;
    font-weight: 300;
    color: #000000b0;
    margin-bottom: 40px;
    font-size: 40px;
    
}

.jonier-servicio{
    text-align:justify;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.jonier-servicio img{
    width: 40%;
    
}

.checklist-servicio{
    width: 45%;
}

.service {
    margin-bottom: 20px;
    
}

.n-service{
    margin-bottom: 7px;
    color: #e26565;
}

.jonier{
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
    padding: 50px 0;
    
}













.boton {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 2px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 130px;

    position:fixed;
    top: 495px;
    right: 65vh;
    width: 25vh;
    height: 4%;
  
}






.boton1 {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 130px;

    position:fixed;
    top: 560px;
    right: 165vh;
    width: 25vh;
    height: 3%;
  
}

.boton2 {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 135px;

    position:fixed;
    top: 560px;
    right: 115vh;
    width: 25vh;
    height: 3%;
  
}

.boton3 {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 160px;

    position:fixed;
    top: 560px;
    right: 65vh;
    width: 25vh;
    height: 3%;
  
}
.boton4 {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 120px;

    position:fixed;
    top: 560px;
    right: 19vh;
    width: 25vh;
    height: 3%;
  
}

.boton5 {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 220px;

    position:fixed;
    top: 860px;
    right: 158vh;
    width: 25vh;
    height: 5.5%;
  
}

.boton6 {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 135px;

    position:fixed;
    top: 860px;
    right: 115vh;
    width: 25vh;
    height: 3%;
  
}

.boton7 {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 215px;

    position:fixed;
    top: 860px;
    right: 63vh;
    width: 25vh;
    height: 5.5%;
  
}
.boton8 {
  border: 2.5px solid #0062ff; /*anchura, estilo y color borde*/
  padding: 0px; /*espacio alrededor texto*/
  background-image: linear-gradient(to top, #ffffff 0%, #ffaeae 100%); /*color botón*/
  color: #ffffff00; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: capitalize; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 5px; /*bordes redondos*/
  width: 90%;
    max-width: 215px;

    position:fixed;
    top: 860px;
    right: 15vh;
    width: 25vh;
    height: 5.5%;
  
}


























@import url(https://fonts.googleapis.com/css?family=Lato);
*,*:after,*:before{
  box-sizing:border-box;
}
body{
  position:relative;
  margin:0;
  padding:0;
  height:100%;
  background:#fdfdfd;
  font-family: 'Lato', sans-serif;
  font-size:14px;
  font-weight:400;
}
img{
  width:100%;
  display:block;
}
.thumbnails-filter {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#filter {
    min-width: 150px;
    border: 1px solid #DADADA;
    background: #EAEAEA;
    color: #7B7B7B;
    padding:0.5em 1em;
    font-size:17px;
    margin:1em;
}

/* photos */
.thumbnails{
  display:block;
  width:100%;
  margin:20px auto;
}
.tumb {
  position: relative;
  display: inline-block;
  width: 32.6%;
  height: 150px;
  overflow: hidden;
  background: url(https://dl.dropboxusercontent.com/u/23834858/fotos/loader.gif) no-repeat center center rgba(255, 1, 1, 0);
  padding: 20px;
  margin: 0em;
  -webkit-transition:all 1s ease;
  transition:all 1s ease;
}
.tumb img {
  display: block;
  width: 70%;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.tumb span{
  display:none;
  visibility:hidden;
}

.tumb:hover img {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}


.thumbnails-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease;
          transition: all 0.8s ease;
}

.thumbnails-preview  .thumbnail-content {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.thumbnails-preview  .thumbnail-title {
  font-family: sans-serif;
  font-weight: 300;
  color: #777;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 2em;
  text-align: center;
}
.thumbnails-preview  .thumbnail-close {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  border: none;
  font-size: 3em;
  line-height: 1;
  font-family: serif;
  color: #464646;
  text-decoration: none;
}
.thumbnails-preview  .thumbnail-inner .thumbnail-close:hover {
  color: #f55;
}
.thumbnails-preview .thumbnail-content{ 
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: calc(100vh - 68px);
  padding: 0.5em;
  overflow: hidden;
}
.show-thumbnail {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s ease;
          transition: all 0.8s ease;
}


.hidden-me{
  opacity:0.1;
  -webkit-transition:all 1s ease;
          transition:all 1s ease;
}

.hidden-me-full{
  display:none;
}


@media screen and (min-width:320px){
  .tumb{width:100%;height:auto;}
  #filter{width:calc(100% - 2em);}
}
@media screen and (min-width:480px){
  .tumb{width:100%;height:auto;}
  #filter{width:calc(100% - 2em);}
}
@media screen and (min-width:700px){
  .tumb{width:calc(100% / 2 - 0.5em);height:160px;}
  #filter{width:150px;}
}
@media screen and (min-width:1024px){
  .tumb{width: calc(100% / 4 - 0.5em);height: 130px;}
  #filter{width:150px;}
}



body{
  transform:scale(1);
  animation:slide 1s ease;
}
@keyframes slide{
  0%{
    transform:scale(0.2);
  }
}













footer{
  background-image: linear-gradient(to top, #ffffff55 0%, rgba(255, 46, 39, 0) 100%);
  padding-bottom: 0vh ;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top:0px ;
  padding-bottom: 10px;
}

.contact-us{
  width: 40%;
  color: rgb(0, 0, 0);
}

.brand{
  font-weight: 500;
  font-size: 40px;
}

.brand+p{
  font-weight: 500;
}



.line1{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 1px;
background-color: rgb(0, 0, 0);
 
}
.line{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 8px;
background-color: rgb(0, 0, 0);
 
}


  @media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }
    .titulo{
        font-size: 40px;
    }
    .contenedor-servicio{
        width: 80%;
        margin-bottom: 40px;
    }
    .checklist-servicio{
        width: 80%;
    }
    .service{
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 80%;
    }
    .img-productos{
        width: 45%;
    }
    .cont-expert{
        width: 80%;
    }
    .footer-content{
        justify-content: center;
    }
    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }
    .social-media-icon{
        margin-left: 0;
    }
    .social-media i{
        margin-left: 0;
    }
    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}
